form{

    text-align: center;
    
}
.input{
    padding: 0px;
    margin: 10px;
}

.input2{
    padding:0px;
    margin: 10px;
}
.input3{
    padding:0px;
    margin: 10px;
}
.input3 select{
    width: 407px;
}

select{
    width: 400px;
}

h3{
    padding:0px;
}
button{
    height: 50px;
    width: 200px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: white; 
    background-color: rebeccapurple;
    border-radius: 5px;
}